/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01-oct-2016, 21:41:21
    Author     : rpk19
*/

body{
   
}

ul li {
    text-decoration: underline;
    color: red;
    
}
.page-header{
    text-decoration: underline;
}
.footer{
 position: absolute;
 bottom:0;
 background-color: blueviolet;
 width:100%;
}
.footer #textFoot{
    float:right;
    text-align:left;
    font-weight:bold;
    padding:0.5%;
}
.jumbotron{
 margin:0;
 
    text-align: center;
     background-color: #BBECFC;
  
}
.row{
    padding: 2%;
}

#centrar  {
 margin-top: 10%;
 margin-left:  35%;
}

#error{
    color:red;
    font-weight: bold;
}
#muestraDatos{
    padding:5%;
    display: inline-block;
    background-color:#25FF29;
    color:white;
    font-weight: bold;
}